<div class="row">
	<div class="col-md-4 clearfix">


		<mdt-table table-card="{visible: true, title: 'Categories'}"
         mdt-row="{
            'data': $ctrl.categoryitems,
            'table-row-id-key': 'id',
            'column-keys': ['name','short_name']
        }">

			<mdt-header-row>
				<!--<mdt-column align-rule="left">ID</mdt-column>-->
				<mdt-column align-rule="left">Short Name</mdt-column>
				<mdt-column align-rule="left">Name</mdt-column>
				<!--<mdt-column align-rule="left">Special Instructions</mdt-column>-->
				<!--<mdt-column align-rule="left">URL</mdt-column>-->
			</mdt-header-row>
			<mdt-custom-cell column-key="short_name">
				<span class="link"><a href="#/categories/item/{{value}}">details</a></span>
			</mdt-custom-cell>
		</mdt-table>
	</div>
	<div class="col-md-8 clearfix">

		<ui-view></ui-view>
	</div>
</div>