body {
  /*font-size: 1.2em;*/
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

.link a:link, a:visited, a:active {
  text-decoration: none;
  display: inline-block;
  color: #000;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

.link a:hover {
  cursor: pointer;
  color: #0000ff;
}


